.preview-card{
  background-color: white;
  box-shadow: 3px 1px 10px rgba(198, 200, 198, 0.761);
  display: flex;
  flex-direction: row;
}

.table-card {
  background-color: white;
  box-shadow: 3px 1px 10px rgba(198, 200, 198, 0.761);
  height: 55vh;
  display: flex;
  flex-direction: column;
}

.table-content th {
  position: sticky;
  top: 0; 
  background-color: #fff; 
  z-index: 2; 
  border-bottom: 2px solid #dee2e6; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); 
}

.table-responsive {
  overflow-y: auto; 
  max-height: 40vh;
}

.table{
  height: 20vh;
  overflow-x: auto;
  position: sticky;
  bottom: 0;
  z-index: 2;
}

.table-content th, .table-content td {
  word-wrap: break-word;  
  word-break: break-all;  
  white-space: normal;    
}

.table-content {
  width: 100%; 
  white-space: nowrap; 
}

.transparent-table {
  background-color: transparent; 
  width: 100%; 
}

.transparent-table th, .transparent-table td {
  padding: 4px;
  vertical-align: top; 
}

.transparent-table th {
  text-align: left;
  font-weight: 500;
  white-space: nowrap;
}

.transparent-table td {
  font-weight: 400;
}

.transparent-table th:nth-child(2) {
  text-align: left;
}

.table-body:hover{
  background-color: #8bee6d;
  font-weight: 500;
  cursor: pointer;
}

.table-container{
  cursor: pointer;
}