body {
  background-color: #fbfbfb;
}

p{
  margin: 0;
  padding: 0;
}

h6{
  margin: 0;
}

:root{
  --bs-green: #bff5db;
}


.navbar {
  background-color: #ffffff !important;
  box-shadow: 0 10px 14px rgba(171, 175, 171, 0.494);
  padding: 0.7em 1em; 
}

@media (min-width: 992px) {
  .navbar {
    padding: 0.7em 1em 0.7em 10em; 
  }
}

.user-area {
  border-left: solid 2px rgb(136, 133, 133);
  border-right: solid 2px rgb(136, 133, 133);
  border-radius: 100px;
  padding: 1.8px;
}

.profile-frame {
  border: solid 1px rgb(190, 190, 190);
  border-radius: 100px;
  width: 2.3em;
  height: 2.3em;
}

.profile-frame img {
  width: 100%;
  color: rgb(190, 190, 190);
  border-radius: 100px;
  height: 100%;
}

.profile-frame:hover , .user-area:hover {
  animation: heartbeat 1.5s;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.navbar-brand{
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.navbar-brand p {
  text-shadow: 0 2px 3px rgb(56, 56, 56);
  font-size: 25px;
}

.navbar-brand p span{
  font-size: 10px;
  text-shadow: 0 1px 2px rgba(56, 56, 56, 0.597);
  color: rgb(70, 70, 70);
}

.nav-frame{
  width: 2.3em;
  height: 2.3em;
}

.nav-frame img {
  width: 100%;
  height: 100%;
}

.setting-area{
  display: flex;
}

.setting-area box-icon{
  color: #ffffff !important;
  transition: transform 0.5s ease-in-out;
}

.setting-area box-icon:hover{
  transform: rotate(360deg);
}

.collapse{
  gap: 15px;
}

.navbar .container-fluid button{
  background-color: #ffffff;
  border-color: #00e676;
  color: #00e676;
  background-color: var(--bs-green)
}

.welcome{
  width: 260px;
  height: 90px;
  /* margin: -15px; */
}
.welcome p{
  background: url('./img/midnight.jpeg');
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: 25% 73%;
  justify-content: flex-end;
  padding-right: 5px;
  display: flex;
  align-items: flex-end;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.de-flex{
  display: flex;
  align-items: center;
}

.de-flex h6{
  font-size: 12px;
}

.count-box{
  background-color: white;
  box-shadow: 3px 1px 10px rgba(198, 200, 198, 0.761);
}

.count-box .flex-lg-row{
  justify-content: space-between;
}

.count-box h5{
  font-weight: 700;
  color: #676a6a;
}

.count-box span{
  font-weight: 500;
  font-size: 30px;
  color: #6db32c;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.406);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.count-box span .icon box-icon{
  line-height: 5;
}

#bubbleCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 99vh;
}